<% layout("/layout/boilerplate.ejs") %>
<body>
    <div class="row">
        
        <div class="col-8 offset-2">
            <h2>Create a New Listing</h2>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="md-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" placeholder="enter title" name="listing[title]" required>
            <div class="invalid-feedback">Please enter proper title</div>
            <div class="valid-feedback">Title looks Good</div>
        </div>
    
        <div class="md-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" placeholder="enter description" name="listing[description]" required></textarea>
            <div class="invalid-feedback">Please enter proper description</div>
        </div>
      <!--
        <div class="md-3">
            <label for="image" class="form-label">Image</label>
            <input class="form-control" type="text" placeholder="enter URL/Link" name="listing[image]">
            <div class="invalid-feedback">Please enter proper image url</div>
        </div>
    -->
        <div class="md-3">
            <label for="image" class="form-label">Image</label>
            <input class="form-control" type="file" name="listing[image]">
            <div class="invalid-feedback">Please enter proper image url</div>
        </div>

        <div class="row">
            <div class="md-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" placeholder="enter price" name="listing[price]" required>
                <div class="invalid-feedback">Please enter proper price</div>
                
            </div>
            <div class="md-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input class="form-control" type="text" placeholder="enter country" name="listing[country]" required>
                <div class="invalid-feedback">Please enter proper country</div>
            </div>
        </div>
        
        <div class="md-3">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" placeholder="enter location" name="listing[location]" required>
            <div class="invalid-feedback">Please enter proper location</div>
        </div>
        <br><br>
        <button class="btn btn-outline-danger">Submit</button>
    </form>
    </div>
    </div>
</body>
